* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.904);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
}

header .logo span {
    color: #8327ae;
}

header .navbar a {
    color: #000;
    font-size: 2rem;
    margin: 0 .8rem;
}

header .navbar a:hover {
    color: #580a7c;
}

header .icons i {
    font-size: 2.5rem;
    color: #000;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover {
    color: #8327ae;
}

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    right: 0;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: black;
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: #666;
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: #8327ae;
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: #444;
    cursor: pointer;
}

.home {
    /* min-height: 100vh; */
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content {
    position: absolute;
    left: 150px;
    padding: 15px 15px;
    background: rgba(0, 0, 0, 0.178);
}

.home .content h3 {
    font-size: 4.5rem;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .1);
}

.home .content p {
    font-size: 1.8rem;
    color: #fff;
    padding: .5rem 0;
}

.home .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 10;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    background: #8327ae;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #8327ae;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: #111;
    border: #333;
    color: #ffffff;
}

.btnn {
    display: inline-block;
    margin-top: 1rem;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #ffffff;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.7rem;
}

.btnn:hover {
    background: #222
}

.column {
    float: left;
    width: 25%;
}

.column img {
    height: 500px;
}


/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.book .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .image {
    flex: 1 1 40rem;
}

.book .row .image img {
    width: 100%;
}

.book .row form {
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.book .row form .inputBox {
    padding: .5rem 0;
}

.book .row form .inputBox input {
    width: 100%;
    padding: 1rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.book .row form .inputBox h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.heading {
    text-align: center;
    padding: 2.5rem 0
}

.heading span {
    font-size: 3.5rem;
    background: #8327ae2c;
    color: #8327ae;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space {
    background: none;
}

.packages .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.packages .box-container .box {
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.packages .box-container .box img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.packages .box-container .box .content {
    padding: 2rem;
}

.packages .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
}

.packages .box-container .box .content h3 i {
    color: #8327ae;
}

.packages .box-container .box .content p {
    font-size: 1.7rem;
    color: #666;
    padding: 1rem 0;
}

.packages .box-container .box .content .stars i {
    font-size: 1.7rem;
    color: #8327ae;
}

.packages .box-container .box .content .price {
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.packages .box-container .box .content .price span {
    color: #666;
    font-size: 1.5rem;
    text-decoration: line-through;
}

.gallery .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box {
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
}

.gallery .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content {
    top: 0;
}

.gallery .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--orange);
}

.gallery .box-container .box .content p {
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem 0;
}

.review .testimonials {
    padding: 40px 0;
    text-align: center;
    background-color: #f1f0bb;
}

.review .inner {
    max-width: 2000px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.review .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.review .col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.review .testimonial {
    background: #fff;
    padding: 30px;
    border: 1px solid black;
}

.review .testimonial:hover {
    border: 2px solid #a81fe7;
}

.review .testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.review .testimonial p {
    font-size: 20px;
}

.review .testimonial .stars {
    font-size: 20px;
    color: #8327ae;
}

.review .name {
    font-size: 22px;
    text-transform: uppercase;
    margin: 20px 0;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.contact .row .image {
    flex: 1 1 35rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

.contact .row form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact .row form .inputBox input,
.contact .row form textarea {
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
    width: 100%;
}

.fotter-main {
    background: #111;
    height: auto;
    width: 100vw;
    position: relative;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 18px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 3rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #8327ae;
}

.fotter-main .footer-bottom {
    background: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}